/* Slider Styles */
.slider-wrapper {
  position: relative;
}

.slider-image {
  transition: opacity 0.5s ease-in-out;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.375rem;
}

.prev-button {
  left: 0.5rem;
}

.next-button {
  right: 0.5rem;
}

/* Container Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
}
